*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.mysite{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "wel wel wel wel wel wel wel wel wel wel wel wel"
    "sec sec sec sec sec sec sec sec sec sec sec sec"
    "fot fot fot fot fot fot fot fot fot fot fot fot"
    ;
}

/*-----------------------------start navigation-------------------------------------------------- */

nav ul{
    list-style: none;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,1fr);
    grid-area: ul;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    color: black;
   
}

nav ul li a:hover{
    background-color: #f9f9f9;
    border-top: 2px solid #009ffd;
    color: #009ffd;
}

nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-template-areas: ". . . . . . . . . . . ." ". . . . . . . . . ul ul ul" ;
    grid-template-rows: 20px auto;
    padding: 15px 15px 9px;
    background-color: white;
    
}

/* ----------------------------end navigation-------------------------------------------------------------- */

.welcom{
    grid-area: wel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(241 241 241);
    text-align: center;
}

.welcom img{
    max-width: 70%;
    height: 300px;
    animation-name: updown ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes updown{
    25%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.welcom h2{
    font-size: 30px;
    margin: 80px 0 30px 0;
}

.welcom p{
    font-weight: 900;
    padding: 10px;
}

.arrows{
    padding: 40px 40px 12px;
}

.welcom .down,.welcom .up{
    width: 0;
    height: 0;
    background-color: transparent;
    border: 10px solid;
    border-color: #009ffd transparent transparent transparent;
    animation-name: mov;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes mov{
     
    50%{
        transform: translatey(20px);
    }
    100%{
        transform: translatey(0px);
    }
}

/* -------------------------------------------start section---------------------------- */

section{
    grid-area: sec;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 20px;
    background-color: snow;
    grid-template-areas:
        "but but but but but"
        "art art art art art"
        "but2 but2 but2 but2 but2"
        "gal gal gal gal gal"
        "but3 but3 but3 but3 but3"
        "feut feut feut feut feut"
        "but4 but4 but4 but4 but4"
        "test test test test test"
        "but5 but5 but5 but5 but5"
        "team team team team team"
        "but6 but6 but6 but6 but6"
        "ser ser ser ser ser"
        "but7 but7 but7 but7 but7"
        "last last last last last"
        ;
        
    justify-content: center;
    align-content: center;
    
}
/*------------------------------------ start articles -----------------------------------------*/

.button {
    grid-area: but;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    
}

.button .left,.button .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.button span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.button:hover .left{
transform: translatex(70px);
}

.button:hover .right{
transform: translatex(-70px);
}

.button:hover span{
 box-shadow: 70px 0 0 #009ffd inset,-70px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}

/*---------------------articles------------------------  */

.articles{
    margin: 20px 0;
    display: grid;
    grid-area: art;
    grid-template-columns: repeat( auto-fill , minmax(300px,1fr) );
    background-color: snow;
}

.articles img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 
.articles .one{
    margin: 60px 60px 0;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:2px 2px 5px #060505;
    position: relative;
}

.articles .one i{
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #009ffd;
}

.articles .one:hover i{
    animation-name: arrowmov;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes arrowmov{
    50%{
        transform: translateX(10px);
    }

    100%{
        transform: translateX(-10px);
    }

}

.articles a{
    display: inline-block;
    text-decoration: none;
    color: #009ffd;
    font-weight: 900;
}

.articles hr{
color: gray;
}

.articles h3,.articles p,.articles a{
    padding: 10px;
    margin: 5px;
}

.articles .one:hover{
    transform: translateY(-15px);
    transition-duration: .5s;
    box-shadow: 5px 5px 10px black;
}
/* --------------------------------------------- */

/* -------------------galery button-------------------------- */
.buttonn {
    grid-area: but2;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    background-color: whitesmoke;
    padding: 50px;
    
}

.buttonn .left,.buttonn .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonn span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.buttonn:hover .left{
transform: translatex(70px);
}

.buttonn:hover .right{
transform: translatex(-70px);
}

.buttonn:hover span{
 box-shadow: 70px 0 0 #009ffd inset,-70px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}
/* -----------------galery--------------------------------- */

.galery{
    margin: 0 0 0 0;
    display: grid;
    grid-area: gal;
    grid-template-columns: repeat( auto-fill , minmax(300px,1fr) );
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.galery .imag {
    max-width: 100%;
    background-color: #f9f9f9;
    margin: 20px;
    overflow: hidden;
    border: 20px solid white;
}
.galery img {
    width: 100%;
    height: 200px;

}
.galery img:hover {
   transform: scale(1.2) rotate(5deg);
   transition: 1s;
   opacity: 0.8;

}
/*-------------------------- buton feutures------------------------------------- */

.buttonnn {
    grid-area: but3;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    background-color: snow;
    padding: 20px;
    
}

.buttonnn .left,.buttonnn .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonnn span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.buttonnn:hover .left{
transform: translatex(70px);
}

.buttonnn:hover .right{
transform: translatex(-70px);
}

.buttonnn:hover span{
 box-shadow: 70px 0 0 #009ffd inset,-70px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}
/* -------------------------feuturess ---------------------------------------*/

.features{
    margin:  0;
    display: grid;
    grid-area: feut;
    grid-template-columns: repeat( auto-fill , minmax(300px,1fr) );
    background-color: snow;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////////////////////////////////////// */

.all1{
background-color: white;
max-width: 100%;
margin: 20px;
overflow: hidden;
text-align: center;
border: 2px solid gray;
border-radius: 10px;
}
.all1 img{
    width: 100%;
    height: 350px;
}
.all1 .spin {
    width: 200%;
    height: 200px;
    background-color: white;
   transform:  translate(-216px,-85px) rotate(-12deg)
}
.all1:hover .spin{
    transform: translate(-216px,-85px) rotate(20deg);
        transition: 1s;

}
.all1 .content{
    padding: 10px;
    position: relative;
    margin-top: -175px;
    font-size: 20px;
}
.all1 .content a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #035c46;
    border-radius: 5px;
    /* height: 40px; */
    padding: 5px;
    color: #035c46;
    width: 60px;
    margin: 60px 0 30px;
    font-weight: 900;
}
.all1:hover a{
box-shadow: 60px 0 0 0 #035c46 inset;
color: white;
transition: .5s;
}
.all1 .content h2{
    border: 2px solid;
    border-color: transparent transparent #035c46 transparent;
    width: fit-content;
    display: inline-block;
    padding: 10px;
}
.all1 .content p{
    margin: 30px 0 0px;
    padding: 10px;

}
/* --------------separetor----------------------------- */
.all2{
background-color: white;
max-width: 100%;
margin: 20px;
overflow: hidden;
text-align: center;
border: 2px solid gray;
border-radius: 10px;
}
.all2 img{
    width: 100%;
    height: 350px;
}
.all2 .spin {
    width: 200%;
    height: 200px;
    background-color: white;
   transform:  translate(-216px,-85px) rotate(-12deg)
}
.all2:hover .spin{
    transform: translate(-216px,-85px) rotate(20deg);
        transition: 1s;

}
.all2 .content{
    padding: 10px;
    position: relative;
    margin-top: -175px;
    font-size: 20px;
}
.all2 .content a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #f33438;
    border-radius: 5px;
    /* height: 40px; */
    padding: 5px;
    color: #f33438;
    width: 60px;
    margin: 60px 0 30px;
    font-weight: 900;
}
.all2:hover a{
box-shadow: 60px 0 0 0 #f33438 inset;
color: white;
transition: .5s;
}
.all2 .content h2{
    border: 2px solid;
    border-color: transparent transparent #f33438 transparent;
    width: fit-content;
    display: inline-block;
    padding: 10px;
}
.all2 .content p{
    margin: 30px 0 0px;
    padding: 10px;

}
/* --------------separetor----------------------------- */
.all3{
background-color: white;
max-width: 100%;
margin: 20px;
overflow: hidden;
text-align: center;
border: 2px solid gray;
border-radius: 10px;
}
.all3 img{
    width: 100%;
    height: 350px;
}
.all3 .spin {
    width: 200%;
    height: 200px;
    background-color: white;
   transform:  translate(-216px,-85px) rotate(-12deg)
}
.all3:hover .spin{
    transform: translate(-216px,-85px) rotate(20deg);
        transition: 1s;

}
.all3 .content{
    padding: 10px;
    position: relative;
    margin-top: -175px;
    font-size: 20px;
}
.all3 .content a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgb(83, 83, 241);
    border-radius: 5px;
    /* height: 40px; */
    padding: 5px;
    color: rgb(83, 83, 241);
    width: 60px;
    margin: 60px 0 30px;
    font-weight: 900;
}
.all3:hover a{
box-shadow: 60px 0 0 0 rgb(83, 83, 241) inset;
color: white;
transition: .5s;
}
.all3 .content h2{
    border: 2px solid;
    border-color: transparent transparent rgb(83, 83, 241) transparent;
    width: fit-content;
    display: inline-block;
    padding: 10px;
}
.all3 .content p{
    margin: 30px 0 0px;
    padding: 10px;

}

/* --------------------testmonals------------------------ */
.buttonnnn {
    grid-area: but4;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    padding: 30px;
    background-color: rgb(241 241 241);
    
}

.buttonnnn .left,.buttonnnn .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonnnn span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.buttonnnn:hover .left{
transform: translatex(70px);
}

.buttonnnn:hover .right{
transform: translatex(-70px);
}

.buttonnnn:hover span{
 box-shadow: 70px 0 0 #009ffd inset,-70px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}

/*---------------------start testmonals------------------------- */
.testimonials{
    padding: 70px 0 30px;
    display: grid;
    grid-area: test;
    grid-template-columns: repeat( auto-fill , minmax(300px,1fr) );
    background-color: rgb(241 241 241);
    justify-content: center;
    align-items: center;
}
.testimonials .onee{
    max-width: 100%;
    padding: 20px;
    margin: 30px;
    position: relative;
    background-color: white;
    border: 0.5px solid #d1d1d1;
    border-radius: 5px;
}

.testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid;
    border-color: rgb(241 241 241);
    position: absolute;
    top: -50px;
    right: 0;
}

.testimonials h3{
    font-size: 22px;
    font-weight: 900;
    padding: 5px;
    margin: 0 10px 0px;
}

.testimonials p{
    font-size: 17px;
    font-weight: 500px;
    padding: 2px;
   
}
.testimonials i{
    color: yellow;
   
}
/* ----------------------button team members---------------------- */

.buttonnnnn {
    grid-area: but5;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    padding: 30px;
    background-color: white;
    
}

.buttonnnnn .left,.buttonnnnn .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonnnnn span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.buttonnnnn:hover .left{
transform: translatex(70px);
}

.buttonnnnn:hover .right{
transform: translatex(-70px);
}

.buttonnnnn:hover span{
 box-shadow: 100px 0 0 #009ffd inset,-100px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}

/* ------------------------teammember------------------------- */

.teammember{
    padding: 70px 0 30px;
    display: grid;
    grid-area: team;
    grid-template-columns: repeat( auto-fill , minmax(350px,1fr) );
    background-color: white;
    justify-content: center;
    align-items: center;
}

.teammember .continer{
    padding: 10px;
    font-size: 20px;
    margin: 20px 85px;
    max-width: 100%;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 10px;
}

.teammember .continer:hover{
filter: grayscale(1);
transition: 0.3s;
}

.teammember .continer img{
    width: 100%;
    height: 270px;
    margin: 50px 0 0 -50px;
    border-radius: 10px;
}

.continer .links{
    width: fit-content;
    position: absolute;
    right: 0;
    top: 30%;
    padding: 20px;
}

.continer .links ul{
    list-style: none;
    
}

.teammember i{
    color: gray;
}

.teammember h3{
    color: #009ffd;
    font-weight: 800;

}

/* ---------------------button for services------------------------ */

.buttonnnnnn {
    grid-area: but6;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    padding: 30px;
    background-color:  #f1f1f1;
    
}

.buttonnnnnn .left,.buttonnnnnn .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonnnnnn span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
}

.buttonnnnnn:hover .left{
transform: translatex(70px);
}

.buttonnnnnn:hover .right{
transform: translatex(-70px);
}

.buttonnnnnn:hover span{
 box-shadow: 100px 0 0 #009ffd inset,-100px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}

/* -------------------------start services------------------------- */

.services{
    padding: 70px 0 30px;
    display: grid;
    grid-area: ser;
    grid-template-columns: repeat( auto-fill , minmax(350px,1fr) );
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
}

.services .divinsideservices{
max-width: 100%;
background-color: white;
color: #009ffd;
padding: 10px;
margin: 20px;
text-align: center;
position: relative;
font-size: 20px;
box-shadow: 5px 5px 5px #646464;
}

.services .divinsideservices:hover{
    transform: translateY(-10px);
    border-top: 5px solid #009ffd;
    box-shadow: 10px 10px 10px #646464;
    transition: .3s;
}

.services .divinsideservices .number{
position: absolute;
bottom: 0;
left: 0;
padding: 10px 40px;
height: 55px;
width: 103px;
background-color: #009ffd;
color: white;
font-weight: 900;
}

.services .divinsideservices .number::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 90px;
    width: 30px;
    height: 55px;
    background-color: gray;
    transform: skewx(-21deg);
}

.services .divinsideservices i{
    font-size: 45px;
    display: block;
    padding: 30px;
    color: gray;
}

.services .divinsideservices h3{
    font-size: 30px;
    margin: 0 0 85px;
    font-weight: 800;
}

.services .divinsideservices a{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 10px;
    color: #009ffd;
    text-decoration: none;
    }

    /* ---------------------button for lastest events------------------------ */

.buttonnnnnn7 {
    grid-area: but7;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: auto;
    padding: 30px;
    background-color:  white;
    
}

.buttonnnnnn7 .left,.buttonnnnnn7 .right{
    width: 15px;
    margin: 0 45px;
    height: 15px;
    background-color: #009ffd;
    border-radius: 50%;
    transition: 1s;

}

.buttonnnnnn7 span{
     border: 2px solid black;
     padding: 10px;
     z-index: 1111;
     font-size: 20px;
     font-weight: 900;
    
}

.buttonnnnnn7:hover .left{
transform: translatex(70px);
}

.buttonnnnnn7:hover .right{
transform: translatex(-70px);
}

.buttonnnnnn7:hover span{
 box-shadow: 100px 0 0 #009ffd inset,-100px 0 0 #009ffd inset;
 transition-delay: .1s;
 transition-duration: 1s;
 color: white;
 border-color: white;
}

/* ---------------------lastest events------------------------ */

.lastestevents{
    padding: 70px 0 30px;
    display: grid;
    grid-area: last;
    grid-template-columns: 1fr;
    background-color: white;
    justify-content: center;
    align-items: center;
   text-align: center;
   padding: 40px;
}

.lastestevents h1{
    font-size: 30px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}

.lastestevents p{
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0 20px 60px;
}

.lastestevents form{
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    border-radius: 35px;
    padding: 25px;
}

.lastestevents form input{
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: black;
    font-weight: 700;
    
}

.lastestevents form .submit{
    background-color: #009ffd;
    color: white;
}

/* ------------------------start footer-------------------- */

footer{
    grid-area: fot;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
    background-color: black; 
    color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer h1,footer h3{
    font-weight: 800;
    padding: 20px;
}

footer .footlink{
    margin: -10px 0 35px;
}

footer .footlink a{
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    color: #009ffd;
}

footer .footlink a:hover{
   
    color: white;
}

footer .adress{
    margin-bottom: 25px;
}

footer .adress i{
    color: #00e5ac;
    font-size: 30px;
}

footer>p{
    padding: 15px;
}